# Konfigurasi Database PostgreSQL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/saibumi_explore?schema=public"

# Konfigurasi JWT Authentication
JWT_SECRET="saibumi_explore_secret_key_12345"
JWT_EXPIRATION="24h"

# Port NestJS
PORT=3001
